language: node_js
sudo: required
services:
  - docker
node_js:
  - 8
cache:
  directories:
    - node_modules
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.3.2
  - export PATH="$HOME/.yarn/bin:$PATH"
install:
  - yarn
script:
  - yarn lint
  - yarn build
  - yarn test
  - docker build -t adamperyman/api.adamperyman.com:$TRAVIS_BRANCH-$TRAVIS_BUILD_NUMBER
  - docker build -t adamperyman/api.adamperyman.com:latest
before_deploy:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
deploy:
  - provider: script
  script: docker push adamperyman/api.adamperyman.com:$TRAVIS_BRANCH && docker push adamperyman/api.adamperyman.com:$TRAVIS_BRANCH-$TRAVIS_BUILD_NUMBER
  on:
    branch: "*"
